header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: coral;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex: 1;
}

nav {
  flex: 1;
}

.social {
  display: flex;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
}

.facebook {
  flex: 1;
  background-color: blue;
}

.youtube {
  flex: 1;
  background-color: red;
}
