.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: coral;
}

.social {
  display: flex;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.facebook {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.youtube {
  width: 50px;
  height: 50px;
  background-color: red;
}
